In [3]:
from auxiliares import Loan
from glob import glob

In [4]:
ruta = './data/json/*.json'
archivos = glob(ruta)

In [5]:
a = archivos[0]

In [6]:
x = Loan(a)

In [7]:
x.toParquet()

In [8]:
x.data

     loanID  loanAmount  ... totalAccounts accountsEver120
0  68364617     22500.0  ...            26               0

[1 rows x 15 columns]